.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.enter_url_input {
  background-color: #d2e7e2;
  border: none;
  height: 30px;
  width: 190px;
  margin: 15px;
}
.go_button {
  border: none;
  height: 30px;
  width: 60px;
}
.videoplayer{
  margin-top: 30px;
}